@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.invert {
  background-color: black;
  color: white;
}

input[type="checkbox"] {
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 5rem;
  height: 2rem;
  background: grey;
  display: block;
  border-radius: 10px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 2rem;
  height: 1rem;
  background: #fff;
  border-radius: 9px;
  transition: 0.3s;
}

input:checked + label {
  background: #bada55;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.name {
  font-size: 10rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .name {
    font-size: 4rem;
    font-weight: bold;
  }
}
@media (min-width: 768px) {
  .hero_content {
    font-size: 2rem;
  }
}

#hero_image {
  position: relative;
  float: right;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.button {
  width: 375px;
  border: 5px solid black;
  padding: 15px;
  margin: 10px;
}

@media only screen and (max-width: 768px) {
  .section_center {
    align-items: center;
  }
}

.hline-bottom {
  padding-bottom: 10px;
  border-bottom: 2px solid #000; /* whichever color you prefer */
}
